@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/* header */
.wrapper {
  width: 100%; }

.header {
  background-color: #03426a;
  text-align: center;
  height: 150px; }

.header img {
  display: inline; }

/* Intro Page */
#intro-text {
  margin-top: 10%;
  animation-name: fade-in;
  animation-duration: 5s;
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  vertical-align: middle; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Posts Page */
.card-area {
  padding-top: 3%;
  background-color: #f3f3f3;
  height: 100vh; }

.post-card {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 2s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* inline-block space fix */
  margin-right: 7px;
  vertical-align: top; }
